@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <h6>Ejercicio del curso de PluralSight: https://app.pluralsight.com/library/courses/asp-net-mvc5-web-apps/table-of-contents</h6>
        <div>
            There Are @Model.Count() restaurants
        </div>
    </div>
